@inject IModalService ModalService

<div class="text-center">
    <Icon class="icon-lg" TextColor="TablerColor.Red" IconType="@TablerIcons.Alert_triangle" />
    <h3>Atenção</h3>
    <p class="text-muted">
        @Message
    </p>
    <div class="mb-2">        
        <Button BackgroundColor="TablerColor.Danger" OnClick="@(() => ModalService.Close(ModalResult.Ok()))">
            Fechar
        </Button>
    </div>    
</div>

@code {
    [Parameter] public string? Message { get; set; }
}